.grid {
    width: 260px;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    padding: 0px;
}

.grid div{
    width: 20px;
    height: 20px;
    border-style: groove;
    margin: 0px; 
}

.snake {
    background-color: rgb(45, 204, 77);
}

.apple {
    background-color: rgb(209, 15, 15);
}
